.DeliverableItem{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
    border-bottom: 1px solid black;
    padding: 20px 0;
}

.DeliverableItem .feedback{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.status{
    background: orange;
    border-radius: 5px;
    padding: 10px;
}

.dueDate{
    background: rgb(114, 244, 114);
}

@media screen and (max-width: 640px) {
    .leftColumn{
        width: 100%;
    }
    .DeliverableItem{
        flex-direction: column;
        padding: 0;
    }
  }
