.dropdown-container{
    border: 1px solid darkblue;
    padding: 5px;
}
ul {
    list-style: none;
    padding: 0;
  }
.deopdown-item {
    padding-left: 10px;
    cursor: pointer;
   
  }
  li:hover {
    text-indent: 10px;
    background-color: #ccc;
  }
  li.selected {
    background-color: #ccc;
  }
  li.hidden {
    display: none;
  }
