a{
    padding: 5px;
}
.underline{
    padding-bottom: 15px;
    border-bottom:2px solid rgba(0, 0, 139, 0.645) ;
}
.actions-link{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
}